<main class="form-signin w-100 m-auto">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Registration Form</h1>

    <label for="first-name">First Name:</label>
    <input id="first-name" type="text" formControlName="firstName">
    
    <br>

    <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" formControlName="lastName">

    <br> 
    <br> 

    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017-2023</p>
  </form>
</main>
